<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Educación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Escuela Politécica Nacional</ion-card-subtitle>
      <ion-card-subtitle>Octubre de 2017</ion-card-subtitle>
      <ion-card-title>Tecnología Superior en Desarrollo de Software</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Hasta el momento tengo aprobado el 4to semestre de la carrera, y mis recompensas por el
      esfuerzo han sido una beca por excelencia académica.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Institución Educativa "Juan Pio Montúfar"</ion-card-subtitle>
      <ion-card-subtitle>Septiembre de 2011 - Julio de 2017</ion-card-subtitle>
      <ion-card-title>Bachiller en Ciencias</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Mis recompensas que obtuve dentro del colegio fue tener uno de los mejores
      promedios.
    </ion-card-content>
  </ion-card>
</ion-content>
