<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Información Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-avatar>
      <img src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg" style="width: 200px; height: 50px;">
    </ion-avatar>

    <ion-label>
        Esteban Alejandro Rios Perez
    </ion-label>
  </ion-item>
  <br/>
  
  <ion-item>
    <ion-icon name="home-outline" slot="start"></ion-icon>
    <ion-label>
      Juan Bautista Aguirre S7 262 y 
      <br/>AF de la bastidas
    </ion-label>
  </ion-item>
  <br/>
  <ion-item>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>
      0994087512
    </ion-label>
  </ion-item>
<br/>
  <ion-item>
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label>
      estebanriosperez@hotmail.com
    </ion-label>
  </ion-item>
  <br/>
  <ion-item>
    <ion-icon name="globe-outline" slot="start"></ion-icon>
    <ion-title>Objetivo</ion-title>
  </ion-item>
  
  <ion-note color="primary">Soy una persona muy trabajadora y determinado en ganar conocimiento</ion-note>

  
  
</ion-content>
